.form-section .MuiOutlinedInput-notchedOutline {
 border-color: white !important;
}

input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 30px  rgb(77, 61, 114) inset !important;
   -webkit-text-fill-color: #ffffff !important;
}

.form-section .MuiFormLabel-root {
  color: rgb(21, 114, 151) !important;
}

.form-section .MuiInputBase-root {
  color: white;
}

.form-banner {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  /* background: url(../img/manBIG.png) no-repeat; */
  background-size: cover;
  border-radius: 25px;
}

.form-section h5 {
  text-align: center;
  padding-bottom: 20px;

}

.form {
  border-radius: 25px;
  padding: 25px;
  background: linear-gradient(140deg, rgba(11,153,180,0.1) 38%, rgba(98,54,209,0.1) 76%);
}


@media (max-width: 990px) {
  .form-banner {
    background: none !important;
    padding-bottom: 50px;
  }

  .form {
    border-radius: 25px !important;
  }
}
