.ModalView-section .Mui-focused {
    color: rgb(255, 255, 255) !important;
}

.ModalView-section .MuiFormControl-root {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px !important;
    text-align: center;
    width: 100%;
}

.ModalView-section .MuiFormGroup-root {
    justify-content: space-around;
}

.ModalView-section .Mui-completed, .ModalView-section .Mui-disabled{
    color: #ffffff80 !important;
}

.ModalView-section .MuiTypography-root, .ModalView-section .MuiStepLabel-label, .ModalView-section .MuiFormLabel-root {

    color: #ffffff !important;
}

/* .ModalView-section .MuiButtonBase-root {
    color: #ffffff !important;
} */

.ModalView-section .MuiTypography-root{
    padding-top: 30px !important;
    text-align: center;
    width: 100%;
}

.ModalView-section .modal-view {
    background: url(../img/sky.png) no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px 10px rgba(76, 6, 122, 0.397);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    padding: 32px;
}


@media (max-width: 768px) {
    .ModalView-section .modal-view {
        max-width: 90% !important;
    }
}
  

@media (max-width: 550px) {
    .ModalView-section .modal-view {
        width: 600px !important;
    }
}

.ModalView-section .MuiModal-backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 30, 0.678);
}