.ModalView .Mui-focused {
    color: rgba(0, 0, 0, 0.6) !important;
}

.ModalView .MuiFormControl-root {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px !important;
    text-align: center;
    width: 100%;
}

.ModalView .MuiFormGroup-root {
    justify-content: space-around;
}

.ModalView .MuiTypography-root {
    padding-top: 30px !important;
    text-align: center;
    width: 100%;
    color: #00000083;
}